@model IEnumerable<Portfolio.ViewModels.ProjectsListingViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-container">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Alex McFarlane</h1>
            <h2>Full Stack Web Developer</h2>
        </div>

        <div>
            <a href="" class="call-to-action-btn">View Projects</a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        @foreach (var vm in Model)
        {
            <div class="col-md-4 panel">
                <h2><a href="">@vm.Title</a></h2>
                <img class="img-responsive" src="@Url.Content(vm.ThumbnailPath)" />
                <p>@vm.Body</p>
            </div>
        }
    </div>
</div>