@model IEnumerable<Portfolio.ViewModels.ProjectsListingViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-container">
    <div class="content-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="hero-content">
                    <div class="hero-text">
                        <h1>Hi, my name is Alex McFarlane</h1>
                        <p>I'm a full stack web developer with a passion for writing high quality, clean code that runs efficiently in high volume environments.</p>
                    </div>

                    <div>
                        <a href="" class="call-to-action-btn">View Projects</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<section>

</section>

<div class="container">
    <div class="row">
        @foreach (var vm in Model)
        {
            <div class="col-md-4 panel">
                <h2><a href="">@vm.Title</a></h2>
                <img class="img-responsive" src="@Url.Content(vm.ThumbnailPath)" />
                <p>@vm.Body</p>
            </div>
        }
    </div>
</div>